In [1]:
#使用SQL語法建立sqlite
from sqlalchemy import create_engine
engine = create_engine('sqlite:///個人資料.sqlite')
sqlString = '''
CREATE TABLE person (
id int not null primary key,
name varchar(50),
age int,
address varchar(100) 
);
'''
with engine.connect() as connection:
    connection.execute(sqlString)

In [3]:
#ORM方式建立sqlite
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String
engine = create_engine('sqlite:///學生資料.sqlite',echo=True)
metadata = MetaData(engine)
student = Table('student', metadata,
               Column('id', Integer, primary_key=True),
               Column('name', String(50)),
               Column('age', Integer),
               Column('address', String(100))                
               )
metadata.create_all(engine)

2021-04-06 11:46:43,881 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-04-06 11:46:43,884 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("student")
2021-04-06 11:46:43,885 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-04-06 11:46:43,886 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("student")
2021-04-06 11:46:43,886 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-04-06 11:46:43,887 INFO sqlalchemy.engine.Engine
CREATE TABLE student (
	id INTEGER NOT NULL,
	name VARCHAR(50),
	age INTEGER,
	address VARCHAR(100),
	PRIMARY KEY (id)
)


2021-04-06 11:46:43,888 INFO sqlalchemy.engine.Engine [no key 0.00062s] ()
2021-04-06 11:46:43,907 INFO sqlalchemy.engine.Engine COMMIT